{% extends "supercell/base.html" %}

{% block content %}
<h1 class="text-center text-white">Welcome Super Cell Gamers</h1>
<div class="row">
    <div class="col-md-6">
<h2 class="text-white">Top clans</h2>
<div class="table-responsive">
    <table class="table table-bordered" id="clanTable">
        <thead>
            <tr>
                <td>Rank</td>
                <td>Clan Name</td>
                <td>Trophies</td>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>
    </div>
    <div class="col-md-6">
        <h2 class="text-white">Top Players</h2>
        <div class="table-responsive">
            <table class="table table-bordered" id="playerTable">
                <thead>
                    <tr>
                        <td>Rank</td>
                        <td>Player Name</td>
                        <td>Trophies</td>
                    </tr>
                </thead>
                <tbody>
                    
                </tbody>
            </table>
        </div>
    </div>
</div>

<h2 class="text-center text-white">
    Avaliable leagues 
</h2>
<div>
    <table class="table table-stripped text-center text-white">
<thead>
    <tr>
        <th>RanK</th>
        <th>Image</th>
    </tr>
</thead>
<tbody>
   
        {% for i in data.json.items %}
        <tr id='{{ i.id }}'>
        <td>{{ i.name }}</td>
    <td><img src="{{ i.iconUrls.small }}" /></td></tr>
        
            {% endfor %}


</tbody>

    </table>

</div>
{% endblock content %}

{% block script %}
    <script>
$(document).ready(function(){
$('#playerTable').DataTable({"bPaginate": false})
$('#clanTable').DataTable({"bPaginate": false})


});


    </script>
    
{% endblock script %}