{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/datatables.min.css' %}">
    <style>
        body{
            background-image: url("{% static 'img/supercell-wallpaper_.jpg' %}");
  top: 0; 
  left: 0; 
  /* Preserve aspet ratio */
  min-width: 100%;
  min-height: 100%;
        }
    </style>
</head>
<body>
    <!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#">BriskDesign</a>
          <button
            class="navbar-toggler"
            type="button"
            data-mdb-toggle="collapse"
            data-mdb-target="#navbarTogglerDemo02"
            aria-controls="navbarTogglerDemo02"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <i class="fas fa-bars"></i>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'searchclan' %}">Search Clan</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'searchplayer' %}">Search Player</a>
              </li>
              
            </ul>
            <form class="d-flex input-group w-auto">
              <input
                type="search"
                class="form-control"
                placeholder="Type query"
                aria-label="Search"
              />
              <button
                class="btn btn-outline-primary"
                type="button"
                data-mdb-ripple-color="dark"
              >
                Search
              </button>
            </form>
          </div>
        </div>
      </nav> -->

    
    {% block content %}
    
    
    {% endblock content %}
 <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>   
 <script type="text/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>   
 <script type="text/javascript" src="{% static 'js/popper.min.js' %}"></script>   
 <script type="text/javascript" src="{% static 'js/datatables.min.js' %}"></script>  
 {% block script %}
    
    
    {% endblock script %}

</body>
</html>